
body{
	
	background-image: url("static/back-ground.jpeg");
	background-color: #cccccc;
	background-size: 100%
}

#menu {
	display: block;
	border-style: ridge;
	border-color: black;
	
	width: 100%;
	height: max-content;
	position: fixed;
	overflow: hidden;
	background-color:cadetblue;
  }
  
div.toolbar{
	float: right;

}

a.item {
	cursor: pointer;
	text-shadow: 2px 2px 5px black;
	font-family:fantasy;
	float: left;
	color: #f2f2f2;
	text-align: center;
	margin: 10px;
	padding: 14px;
	text-decoration: none;
	font-size: 25px;
  }
  
#menu a.item:hover {
	background-color: #ddd;
	color:black;
	text-shadow: 2px 2px 5px white;
	border-radius: 25px;

  }

  img.logo{
	margin: 5px;
	width: 65px;
}

#content{
	display: block;


}

h1 {
	text-align: center;
	
	text-shadow: 10px 5px 4px black;
	font-size: 40px;
	font-family: century Gothic;
	color: white;
	
}

.section {
	margin: 15px;
	border-radius: 25px;
	margin: 12px;
	border-style: solid;
	border-color: black;
	text-shadow: 2px 2px 5px black;
	font-size: 40px;
	font-family:Segoe Print;
}

.contact{
	margin: 15px;
	border-radius: 25px;
	margin-right: 12px;
	padding-right: 20px;
	
	font-family:Goudy Old Style;
	color: white;
	
	font-size: 20px;

	
}

div.like{
	text-align: center;
	border-radius: 25px;
	margin-left: 500px;
	margin-right: 400px;
	
	background-color:cadetblue;
}


div.music{
	
	text-align: center;
	border-radius: 25px;
	margin-left: 400px;
	margin-right: 400px;

}

div.web{
	padding-left: 20px;
	font-size: 25px;
	font-family:Goudy Old Style	
	;
	color: white;
}

p.aboutme{
	padding-left: 20px;
	font-size: 25px;
	font-family:Goudy Old Style;
	color: white;
	background-color: #0f0f0f;
	transition: 0.5s;

}
div.QR{
	text-align: center;
	margin-left: 15px;	
}


input[type=text], input[type=email] {
	margin-left: 15px;
	margin-top: 15px;
	width: 20%;
	vertical-align: top;
	padding: 12px 20px;
	
	box-sizing: border-box;
	border-radius: 4px;
  }

textarea {
	margin-top: 15px;
	margin-left: 15px;
	width: 50%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #111111;
	border-radius: 4px;
	vertical-align: top;
	background-color: #f8f8f8;
	resize: none;
  }

  input[type=button]{
	
	margin-left: 15px;
	background-color:rgba(6, 117, 108, 0.918);
	border: none;
	color: white;
	margin-top: 15px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	border: 2px solid #0f0f0f;
	font-family: fantasy;

  }

select{
	margin-left: 15px;
	margin-top: 15px;
	box-sizing: border-box;
	border: 2px solid #111111;
	border-radius: 4px;
	vertical-align: down;
	background-color: #f8f8f8;
	resize: none;
}


.image-grid{
	--gap: 16px;
	--num-cols: 4;
	--row-height: 340px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);

}

.image-grid > img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.image-grid-col-2{
	grid-column: span 2;
}

.image-grid-row-2{
	grid-row: span 2;
}

@media screen and(max-width: 1024px) {
	.image-grid{
		--num-cols: 2;
		--row-height: 200px;
	}
	
}









  

